.header{
    height: 70px;
    background: black;
    color: white;
}
.moviesPages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(100vh - 154px);
    overflow-y: auto;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5px;
    border-top: 2px solid black;
    padding-top: 10px;
}
.button {
    background-color: darkred;
    border-radius: 5px;
}

