.movieCard{
    border: 2px solid black;
    background-color: white;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 5px  0;
    margin: 20px 0;
}
.movieCard p{
    margin: 0;
}
.movieCard h3 {
    background-color: black;
    width: 100%;
    height: 50%;
    color: white;
    margin: 5px;
}
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    text-align: center;
}
.informationDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    text-align: center;
}


@media screen and (min-width: 400px) and (max-width: 767px) {
    .movieCard{
        width: 45%;
    }
    .movieCard h3 {
        width: 150px;
        height: 70px;
    }
    .movieCard img {
        width: 150px;
    }
    .information {
        width: 100px;
        height: 150px;
    }
}